<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8"/>
  <title>List of Returns</title>
</head>
<body>
<h1>List of Returns</h1>
<table>
  <thead>
  <tr>
    <th>Employee</th>
    <th>Return Date</th>
    <th>Booking</th>
    <th>Additional Payment</th>
    <th>Comments</th>
  </tr>
  </thead>
  <tbody>
  <tr th:each="return : ${returns}">
    <td th:text="${return.employee}"></td>
    <td th:text="${return.returnDate}"></td>
    <td th:text="${return.booking}"></td>
    <td th:text="${return.additionalPayment}"></td>
    <td th:text="${return.comments}"></td>
  </tr>
  </tbody>
</table>
</body>
</html>






